BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: true
Standard: c++20
