CompileFlags:
  CompilationDatabase: build/debug

Diagnostics:
  ClangTidy:
    FastCheckFilter: Strict
  UnusedIncludes: Strict

Index:
  Background: Build

---
If:
  PathMatch: '(.*\.(cu|cuh)|common/cuda_check\.h)'
CompileFlags:
  Remove:
    - -x
    - -std=*
    - -forward-unknown-to-host-compiler
    - --generate-code=*
  Add:
    - -x
    - cuda
    - -std=c++20
    - --cuda-path=/usr/local/cuda
    # nvcc writes this include as -isystem=<path>, which clangd parses incorrectly.
    - -I../../third_party/fmt/include
Diagnostics:
  UnusedIncludes: None
